body {
  background-image: url("./img/bg_img.jpg");
}
#navbar {
  width: 100%;
  height: 65px;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: rgba(0, 0, 0, 0.9);
  border: 2px solid gold;
}
#navbar > h1 {
  color: #338637;
  margin-right: 43%;
  font-family: cursive;
}
#navbar > button {
  height: 40%;
  margin: 0% 3%;
  background-color: rgba(0, 100, 0, 0.5);
  border-radius: 5px;
  border: 1px solid #338637;
  font-size: 15px;
  font-weight: bold;
  color: white;
}
.imgCont {
  width: 60%;
  height: 400px;
  margin: 2% auto;
  border-radius: 20px;
}
.imgCont > img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  box-shadow: 10px 20px 20px 10px rgba(0, 0, 0, 1);
}
#movParent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#movParent > div {
  display: flex;
  flex-direction: column;
  width: 25%;
  margin-left: 6.5%;
  margin-top: 3%;
  margin-bottom: 3%;
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 10px 20px 20px 10px rgba(0, 0, 0, 1);
  justify-content: center;
  border-radius: 30px;
  align-items: center;
  border: 2px solid gold;
}
#movParent > div > img {
  width: 70%;
  margin-bottom: 10%;
  border: 4px solid #338637;
  border-radius: 20px;
  transition: transform 0.2s;
}
#movParent > div > img:hover {
  transform: scale(1.3);
}
#btnParent {
  display: flex;
  justify-content: center;
}
#btnParent > div {
  width: 40%;
}
#movParent > div > p {
  color: white;
  font-size: 15px;
  font-weight: bold;
  padding: 5px;
  border: 1px solid #338637;
  background-color: rgba(0, 100, 0, 0.5);
  border-radius: 5px;
  margin: 2%;
}
#btnParent > div > button {
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 5px;
  border: 1px solid black;
  background-color: rgba(100, 0, 0, 0.9);
  border-radius: 5px;
  margin: 10%;
}
